In [1]:
# 위는 iris로 돌았으니까 이번에는 Orange로 돌아보자
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [2]:
tail(Orange)

   Tree age  circumference
30 5     484  49
31 5     664  81
32 5    1004 125
33 5    1231 142
34 5    1372 174
35 5    1582 177

In [3]:
summary(Orange)

 Tree       age         circumference
 3:7   Min.   : 118.0   Min.   : 30.0
 1:7   1st Qu.: 484.0   1st Qu.: 65.5
 5:7   Median :1004.0   Median :115.0
 2:7   Mean   : 922.1   Mean   :115.9
 4:7   3rd Qu.:1372.0   3rd Qu.:161.5
       Max.   :1582.0   Max.   :214.0

In [4]:
summary(Orange$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  118.0   484.0  1004.0   922.1  1372.0  1582.0

In [5]:
str(Orange)

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [6]:
dim(Orange) # 차원 카운트 : Orange는 35행 3열

[1] 35  3

In [7]:
nrow(Orange)

[1] 35

In [8]:
ncol(Orange)

[1] 3

In [9]:
length(Orange) # 데이터 프레임의 데이터셋 길이 = 열 길이

[1] 3

In [10]:
ls() # 선언된 변수 - 본 코드에는 선언된 변수가 없어서 없다.

character(0)

In [ ]:
object.size(Orange)