In [1]:
x <- read.csv("reservation_r_csv.csv")
head(x)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [2]:
package_version(R.version)

[1] '3.6.1'

In [3]:
x <- read.csv("r_practice/reservation_r_csv.csv")
head(x)

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [4]:
install.packages("readxl")

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Moribito\AppData\Local\Temp\RtmpoTiK8o\downloaded_packages

In [6]:
library(readxl)
y <- read_excel("r_practice/reservation_r_excel.xlsx")
head(y)

Warning message:
"package 'readxl' was built under R version 3.6.3"

  RESERV_NO  RESERV_DATE RESERV_TIME CUSTOMER_ID BRANCH VISITOR_CNT CANCEL
1 2019082701 20190827    1800        W1340914    마포   2           N
2 2019082602 20190826    1200        W341658     동작   5           N
3 2019082601 20190826    1800        W1328993    강북   4           N
4 2019082501 20190825    1800        W1340463    용산   2           N
5 2019082401 20190824    1200        W1344912    강동   3           N
6 2019082301 20190823    1800        W1344753    영등포 2           N

In [8]:
write.csv(x,"csv_output.csv")

In [9]:
install.packages("writexl")

package 'writexl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Moribito\AppData\Local\Temp\RtmpoTiK8o\downloaded_packages

In [10]:
library(writexl)
write_xlsx(y,"excel_output.xlsx")

Warning message:
"package 'writexl' was built under R version 3.6.3"

In [12]:
sink("output.txt")
x <- 1
y <- 2
x
y
x+y

sink()

[1] 1

[1] 2

[1] 3

In [13]:
x <- c(1,2,3)
y <- c(4,5,6)
save(x,y,file="save.Rdata")

In [14]:
rm=(list=ls())

In [15]:
load("save.Rdata")

In [16]:
x <- c(1,2,3)
y <- c(4,5,6)
z <- c(7,8,9)
save(list=ls(),file="save2.Rdata")

In [19]:
connect <- file("result.txt","w")
x <-iris$Sepal.Length
cat(summary(x),file=connect)
close(connect)

In [20]:
summary(x)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

In [21]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [22]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [24]:
x <- read.csv("r_practice/reservation_r_csv.csv")
summary(x)

   RESERV_NO          RESERV_DATE        RESERV_TIME     CUSTOMER_ID
 Min.   :2.019e+09   Min.   :20190603   Min.   :1200   W1338910:  9
 1st Qu.:2.019e+09   1st Qu.:20190912   1st Qu.:1200   W341634 :  9
 Median :2.019e+09   Median :20191113   Median :1800   W1337923:  8
 Mean   :2.019e+09   Mean   :20191043   Mean   :1553   W1342347:  8
 3rd Qu.:2.019e+09   3rd Qu.:20191213   3rd Qu.:1800   W1336410:  7
 Max.   :2.019e+09   Max.   :20191231   Max.   :1800   W1340914:  7
                                                       (Other) :348
     BRANCH     VISITOR_CNT     CANCEL
 강남   : 49   Min.   : 1.000   N:337
 강서   : 22   1st Qu.: 2.000   Y: 59
 마포   : 22   Median : 3.000
 서초   : 22   Mean   : 3.641
 동작   : 21   3rd Qu.: 4.000
 동대문 : 20   Max.   :23.000
 (Other):240

In [25]:
library(help=datasets)

In [27]:
head(iris,10)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.1          3.5         1.4          0.2         setosa
2  4.9          3.0         1.4          0.2         setosa
3  4.7          3.2         1.3          0.2         setosa
4  4.6          3.1         1.5          0.2         setosa
5  5.0          3.6         1.4          0.2         setosa
6  5.4          3.9         1.7          0.4         setosa
7  4.6          3.4         1.4          0.3         setosa
8  5.0          3.4         1.5          0.2         setosa
9  4.4          2.9         1.4          0.2         setosa
10 4.9          3.1         1.5          0.1         setosa

In [28]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [29]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [30]:
summary(iris$Sepal.Length)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.300   5.100   5.800   5.843   6.400   7.900

In [31]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [32]:
dim(iris)

[1] 150   5

In [33]:
nrow(iris)

[1] 150

In [34]:
ncol(iris)

[1] 5

In [35]:
ls()

[1] "connect" "list"    "rm"      "x"       "y"       "z"

In [36]:
rm(list=ls())

In [37]:
ls()

character(0)

In [38]:
x <- c(1,2,3,4,5)
object.size(x)

96 bytes

In [39]:
is.factor(iris)

[1] FALSE

In [40]:
is.data.frame(iris)

[1] TRUE

In [41]:
head(AirPassenagers)

ERROR: Error in head(AirPassenagers): 객체 'AirPassenagers'를 찾을 수 없습니다

In [42]:
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [43]:
# 위는 iris로 돌았으니까 이번에는 Orange로 돌아보자
head(Orange)

  Tree age  circumference
1 1     118  30
2 1     484  58
3 1     664  87
4 1    1004 115
5 1    1231 120
6 1    1372 142

In [44]:
tail(Orange)

   Tree age  circumference
30 5     484  49
31 5     664  81
32 5    1004 125
33 5    1231 142
34 5    1372 174
35 5    1582 177

In [45]:
summary(Orange)

 Tree       age         circumference
 3:7   Min.   : 118.0   Min.   : 30.0
 1:7   1st Qu.: 484.0   1st Qu.: 65.5
 5:7   Median :1004.0   Median :115.0
 2:7   Mean   : 922.1   Mean   :115.9
 4:7   3rd Qu.:1372.0   3rd Qu.:161.5
       Max.   :1582.0   Max.   :214.0

In [46]:
summary(Orange$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  118.0   484.0  1004.0   922.1  1372.0  1582.0

In [47]:
str(Orange)

Classes 'nfnGroupedData', 'nfGroupedData', 'groupedData' and 'data.frame':	35 obs. of  3 variables:
 $ Tree         : Ord.factor w/ 5 levels "3"<"1"<"5"<"2"<..: 2 2 2 2 2 2 2 4 4 4 ...
 $ age          : num  118 484 664 1004 1231 ...
 $ circumference: num  30 58 87 115 120 142 145 33 69 111 ...
 - attr(*, "formula")=Class 'formula'  language circumference ~ age | Tree
  .. ..- attr(*, ".Environment")=<environment: R_EmptyEnv>
 - attr(*, "labels")=List of 2
  ..$ x: chr "Time since December 31, 1968"
  ..$ y: chr "Trunk circumference"
 - attr(*, "units")=List of 2
  ..$ x: chr "(days)"
  ..$ y: chr "(mm)"

In [48]:
View(Orange)

ERROR: Error in View(Orange): 'View()' not yet supported in the Jupyter R kernel

In [49]:
dim(Orange) # 차원 카운트 : Orange는 35행 3열

[1] 35  3

In [50]:
nrow(Orange)

[1] 35

In [51]:
ncol(Orange)

[1] 3

In [52]:
length(Orange) # 데이터 프레임의 데이터셋 길이 = 열 길이

[1] 3

In [53]:
ls()

[1] "x"

In [54]:
object.size(Orange)

5232 bytes

In [ ]:
# 위치값